<main class="max-w-screen-xl mx-auto px-6 py-12">
    <h1 class="text-3xl font-bold text-center mb-8">Welcome, <%= user.name %>
    </h1>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <div>
            <img src="/imageitem" alt="image1" class="rounded-xl shadow-md w-full h-auto">
        </div>
        <div>
            <img src="/imageitem" alt="image2" class="rounded-xl shadow-md w-full h-auto">
        </div>
        <div>
            <img src="/imageitem" alt="image3" class="rounded-xl shadow-md w-full h-auto">
        </div>

    </div>
</main>
