<%- include('./partials/header.ejs') %>
  <main class="flex-grow">
    <div class="justify-items-center"></div>
    <div class="align-middle flex text-blue-600">
      This is the home page I didn't want to make it. :)
      <br>
    </div>
  </main>
  <%- include('./partials/footer.ejs') %>
