<%- include('./partials/header.ejs') %>
  <main class="flex-grow  flex flex-col justify-center items-center">
      <div class=" text-blue-600">
        <button class="bg-gray-700 hover:bg-gray-400 text-white px-3 py-1 rounded ml-auto">
          button</button>
        <a href="./photos/catWizard.jpg" target="_blank">Download the image</a>
      </div>
  </main>
  <%- include('./partials/footer.ejs') %>
