<%- include('./partials/header.ejs') %>
  <main class="max-w-screen-xl mx-auto px-6 py-12">
    <h1 class="text-3xl font-bold text-center mb-8">Welcome, <%= user.username %>
    </h1>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <div>
        <img src="/photos/catWizard.jpg" alt="image1" class="rounded-xl shadow-md w-full h-auto">
      </div>
      <div>
        <img src="/photos/dumbledore.jpg" alt="image2" class="rounded-xl shadow-md w-full h-auto">
      </div>
      <div>
        <img src="/photos/harryPotter.jpg" alt="image3" class="rounded-xl shadow-md w-full h-auto">
      </div>

    </div>
  </main>
  <div>
    <form action="/logout" method="post"> <button
        class="border-2 border-yellow-700 bg-blue-700 text-orange-500 py-1 px-4 rounded-md hover:bg-green-700 hover:text-black font-semibold">
        logout? </button>
  </div>
  </form>
  </body>

  </html>
